<form #registerForm="ngForm"
(ngSubmit)="register()"name="registerForm" autocomplete="off">
 <h2 class="text-center text-primary">Sign up</h2>
 <hr>
 <div class="form-group">
    <input 
    
    type="text" 
    class="form-control" 
    name="userFirstName" 
    [(ngModel)]="model.userFirstName"
    placeholder="UserFirstName"
     >
 </div>
 <div class="form-group">
    <input 
   
    type="text" 
    class="form-control" 
    name="userLastName" 
    [(ngModel)]="model.userLastName" 
    placeholder="UserLastName" >
    
 </div>
 <div class="form-group">
    <input 
    
    type="email" 
    class="form-control" 
    name="email" 
    [(ngModel)]="model.email" 
    placeholder="Email" >
    
 </div>
 <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit">Register</button>
        <button class="btn btn-primary mr-2" (click)="cancel()" type="button">Cancel</button>
 </div>
 
</form>
